<template>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Update project</h4>
                </div>
                <div class="card-body">
                    <form @submit.prevent="update">
                        <div class="row">
                            <div class="col-12 mb-2">
                                <div class="form-group">
                                    <label>
										Name
										<span v-if="validationErrors.errors" class="pull-right">
											<small v-for="(error, key) in validationErrors.errors.name" :key="key">
												{{ error }}
											</small>
										</span>
									</label>
                                    <input type="text" class="form-control" v-model="project.name">
                                </div>
                            </div>
                            <div class="col-12 mb-2">
                                <div class="form-group">
                                    <label>
										Description
										<span v-if="validationErrors.errors" class="pull-right">
											<small v-for="(error, key) in validationErrors.errors.description" :key="key">
												{{ error }}
											</small>
										</span>
									</label>
                                    <input type="text" class="form-control" v-model="project.description">
                                </div>
                            </div>
							<div class="col-12 mb-2">
                                <div class="form-group">
                                    <label>
										Status
										<span v-if="validationErrors.errors" class="pull-right">
											<small v-for="(error, key) in validationErrors.errors.status" :key="key">
												{{ error }}
											</small>
										</span>
									</label>
									<select name="status" class="form-control" v-model="project.status">
										<option v-for="(status, key) in statuses" :key="key" :value="key">
											{{ status }}
										</option>
									</select>
                                </div>
                            </div>
                            <div class="col-12 mb-2">
								<label>Contacts</label>
								<div
									v-for="(contact, index) in project.contacts"
									:key="index"
									class="row"
								>
									<div class="col-5">
										<label>Contact name</label>
										<input 
											v-model="contact.name"
											type="text" 
											class="form-control" 
										/>
									</div>
									<div class="col-5">
										<label>Contact email</label>
										<input 
											v-model="contact.email"
											type="text" 
											class="form-control" 
										/>
									</div>
									<div class="col-2">
										<a class="mt-4 btn btn-danger" @click="removeField(contact, index, project.contacts)">
											Remove
										</a>
									</div>
								</div>
                            </div>
                            <div class="col-12 mb-2">
								<a class="btn btn-secondary" @click="addField(project.contacts)">
									Add contact
								</a>
                            </div>
                            <div class="col-12 mb-2">
                                <router-link :to='{name:"projectList"}' class="btn btn-secondary">
									Back
								</router-link>
                                <button type="submit" class="btn btn-primary">
									Update
								</button>
                            </div>
                        </div>      
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name:"update-project",
    data(){
        return {
            project:{
                _method:"patch"
            },
			statuses: [],
			validationErrors: []
        }
    },
    mounted(){
		this.getStatuses(),
        this.showProject()
    },
    methods:{
        async showProject(){
            await this.axios.get('/api/project/' + this.$route.params.id).then(response => {
                this.project = response.data
            }).catch(error => {
                console.log(error)
            })
        },
        async update(){
			this.project._method = "patch"
            await this.axios.post('/api/project/' + this.$route.params.id, this.project).then(response => {
                this.$router.push({ name:"projectList" })
            }).catch(error => {
				this.validationErrors = error.response.data
			})
        },
		addField(field) {
			field.push({ name: "", email: "" });
		},
		async removeField(projectContact, index, field) {
			if(projectContact.id) {
				await this.axios.post('/api/contact/remove/' + projectContact.id).then(response => {
					field.splice(index, 1);
				}).catch(error => {
					console.log(error)
				})
			} else {
				field.splice(index, 1);
			}
		},
		getStatuses() {
			this.axios.get('/api/statuses', this.project).then(response => {
				console.log(response.data);
                this.statuses = response.data
            }).catch(error => {
                console.log(error)
            })
		}
    }
}
</script>