<template>
    <div class="row">
        <div class="col-12 mb-2 text-end">
            <router-link :to='{name:"projectAdd"}' class="btn btn-primary">Create</router-link>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Projects</h4>
                </div>
                <div class="card-body" v-cloak>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Contacts</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody v-if="projects.length > 0">
                                <tr v-for="(project,key) in projects" :key="key">
                                    <td>{{ project.id }}</td>
                                    <td>{{ project.name }}</td>
                                    <td>{{ project.statusName }}</td>
                                    <td>{{ project.contacts.length }}</td>
                                    <td>
                                        <router-link :to='{name:"projectEdit",params:{id:project.id}}' class="btn btn-warning">
											Edit
										</router-link>
                                        <button type="button" @click="deleteProject(project.id)" class="btn btn-danger">
											Delete
										</button>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody v-else>
                                <tr>
                                    <td colspan="5" align="center">No projects found.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name:"projects",
    data(){
        return {
            projects:[]
        }
    },
    mounted(){
        this.getProjects()
    },
    methods:{
        async getProjects(){
            await this.axios.get('/api/project').then(response => {
                this.projects = response.data
            }).catch(error => {
                this.projects = []
            })
        },
        deleteProject(id){
            if(confirm("Are you sure to delete this project ?")){
                this.axios.delete(`/api/project/${id}`).then(response => {
                    this.getProjects()
                }).catch(error => {
                    console.log(error)
                })
            }
        }
    }
}
</script>